.tweet {
  background-color: $white;
  border: 1px solid #E7E7E7;
  border-radius: 0.7em;
  line-height: 18px;
  margin-bottom: 0.5rem;
  min-height: 100px; 
  padding: 0.9em 1.2em;

  @import './header';
  @import './text';
  @import './metadata';
  @import './media';
  @import './quote';
}